body{
  margin:auto;
  max-width:800px;
  line-height:1.6;
  font-size:16px;
  padding:10px;
  font-family: Georgia, sans-serif;
  background: #003366;
  color: lightsteelblue;
}

header{
	padding: 12px 0px 12px 0px;
  font-weight: bold;
  font-size: 21px;
  position: relative;
  border-bottom: 2px solid lightsteelblue;
  margin-bottom: 30px;
}

header img {
  position: relative;
	float: right;
	margin-top: 10px;
  height: 0.5%;
  width: 23%;
	bottom: 110px;
	right: 10px;
  vertical-align: bottom;
	opacity: 0.8;
}

footer {
  border-top: solid 2px lightsteelblue;
  font-size: 14px;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
  text-align: left;
/*    
  display: flex;
  align-items: center;
  justify-content: space-between;
 */
}

footer figcaption {
  text-align: right;
}
footer img {
  position: relative;
  bottom: 0px;
  right: 0px;
	float: right;
  height: auto;
  width: 25px;
  vertical-align: bottom;
	opacity: 0.8;
}

h1,h2,h3{line-height:1.2;}
table{ 
  border-collapse: collapse;
}
td{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0em;
  padding-right: 0em;
  font-size: 18px;
  text-align: left;
  width: 8%;
}

a:link{
 text-decoration:none;
 color:deepskyblue;
 font-weight:bold;
}
a:visited{color:skyblue}
strong{
 color:deepskyblue;
}

#language-option{
	text-align: center;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;

	/*width: 50px;
	height: 30px;*/
	background-color: lightsteelblue;
  color: #003366;
/*display: table-cell;*/
	vertical-align:  middle;
}

r{
	text-align:center;
}
